<div class="centered">
  @if (selectedBike()?.images?.length > 0) {
    <div>{{ 'gallery.images-list' | translate }}</div>
    @for (image of selectedBike()?.images; track $index) {
      <p><a href="{{ image?.url }}">{{ image.imageName }}</a></p>
      <img src="{{ image?.url }}" alt="{{ image?.imageName }}" height="80px" />
      @if (isDeleteAvailable) {
        <button mat-icon-button type="button" (click)="onDelete(image.imageName)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      }
    }
  } @else {
    <div class="alert alert-secondary" role="alert">
      {{ 'gallery.empty-gallery' | translate }}
    </div>
  }
</div>
