.centered {
  width: 95%;
  margin: auto auto 20px;
}

.top-section {
  display: flex;
  margin-top: 1%;
}

.inner-container {
  width: 100%;
  margin-right: 1%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
