.dialog-box {
  display: flex;
}

.dialog-content {
  text-align: center;
  position: relative;
}

.close-icon {
  margin-left: auto;
  order: 2;
  font-weight: bolder;
  justify-content: flex-end;
}

.close-icon:hover{
  cursor: pointer;
}
