<div class="dialog-box">
  <div class="dialog-content">
    <div style="display: flex">
      <mat-icon (click)="closeDialog()" class="close-icon">close</mat-icon>
    </div>
    <h4 class="content-span full-width">{{ confirmationMessage | translate }}</h4>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" style="margin-right: 5%">{{ "confirm-dialog.yes" | translate }}</button>
    <button mat-raised-button color="secondary" [mat-dialog-close]="false">{{ "confirm-dialog.no" | translate }}</button>
  </div>
</div>
