<div id="divWeatherMain">
  @if (weather()?.isDay) {
    <div class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
    </div>
  } @else {
    <div class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
    </div>
  }
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-3x cloud"></i>
  </div>
  <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{ weather()?.tempCelsius }}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">{{ weather()?.tempMin }}° / {{ weather()?.tempMax }}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">{{ "weather.feels-like" | translate }}: {{ weather()?.tempFeelsLike }}°</div>
  <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{ weather()?.name }}</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{ weather()?.humidity }}%</div>
</div>
