<div id="divWeatherMain">
  @if ((weather$ | async)?.isDay) {
    <div class="weatherWidgetRow">
      <i class="fas fa-3x fa-sun sun"></i>
    </div>
  } @else {
    <div class="weatherWidgetRow">
      <i class="fas fa-3x fa-moon moon"></i>
    </div>
  }
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-3x cloud"></i>
  </div>
  <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{ (weather$ | async)?.tempCelsius }}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">{{ (weather$ | async)?.tempMin }}° / {{ (weather$ | async)?.tempMax }}°</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">{{ "weather.feels-like" | translate }}: {{ (weather$ | async)?.tempFeelsLike }}°</div>
  <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{ (weather$ | async)?.name }}</div>
  <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{ (weather$ | async)?.humidity }}%</div>
</div>
