.form {
  height: 100%;
  align-items: normal;
  justify-content: center;
}

.expansion-panel {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: space-between;
  width: 95%;
  margin: auto auto 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
