.form {
  height: 100%;
  align-items: normal;
  justify-content: center;
}

.expansion-panel {
  display: flex;
  flex-direction: column;
  margin: 1% 1% 0;
}

.centered {
  justify-content: space-between;
  width: 95%;
  margin: auto auto 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1% 1%;
}
