.preview {
  max-width: 200px;
}

.centered {
  width: 95%;
  margin: auto auto 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nav {
  margin: 1% auto auto;
  width: 95%;
}