<div style="display: flex">
  <mat-toolbar class="centered">
    <span>{{ "navigation." + currentPage() | translate }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled="{{currentPage() === page.SEARCH_BIKES}}" [routerLink]="['/search-bikes']">
        <mat-icon>search</mat-icon>
        <span>{{ 'navigation.search-bikes' | translate }}</span>
      </button>
      <button mat-menu-item disabled="{{currentPage() === page.ADD_BIKE}}" [routerLink]="['/add-bike']">
        <mat-icon>add_circle</mat-icon>
        <span>{{ 'navigation.add-bike' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
